@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  margin: 0;
  font-family: "Electrolize", serif;
  overflow: hidden;
}

.category-button {
  @apply bg-cyan-700 px-6 py-10 text-white hover:cursor-pointer transition-all text-center;
}

.category-button:hover {
  @apply bg-blue-700;
}

.category-button.selected {
  @apply bg-blue-700;
}


.delete-button {
  @apply text-white p-1 rounded bg-red-400 hover:bg-red-600;
}
.update-button {
  @apply text-white p-1 rounded bg-orange-400 hover:bg-orange-600;
}

.header-link {
  @apply flex flex-col items-center hover:text-[#40a9ff] transition-all;
}

.active-header-link {
  @apply text-blue-700;
}

.header-link-icon {
  @apply text-xl md:text-2xl;
}
.header-link-span {
  @apply text-[10px] md:text-xs;
}

@media (min-width: 768px) {
  .categories::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    overflow: scroll;
  }
}
